<!-- ==============================================
		FOOTER
		=============================================== -->	
		<footer id="main-footer" class="color-bg light-typo">
		
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h4><a href="{{ site.baseurl }}/">Resonance Writing Services</a></h4>
						
						<ul>
							<li><a href="{{site.baseUrl}}/services">Services</a></li>
							<li><a href="{{site.baseUrl}}/why-resonate">Why Resonate?</a></li>
							<li><a href="{{site.baseUrl}}/about-me">About Me</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6">
								<h4>Mark Brady</h4>
								<h6>Ft. Collins, CO</h6>
								<ul class="social-links">
									<li><a href="mailto:mark@resonanceink.com" title="Send Mark Brady an email..."><i class="fa fa-envelope fa-fw"></i></a></li>
									<li><a href="https://www.linkedin.com/in/mark-brady-235a7a10" title="Go to Mark Brady's LinkedIn profile..."><i class="fa fa-linkedin fa-fw"></i></a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<img src="{{ site.baseurl }}/assets/MarkBradyLowRes.png" />
							</div>
						</div>
						
					</div>
					<div class="col-md-4">
						<p><em>The difference between the almost-right word and the right word . . . is the difference between the lightning bug and the lightning.</em><br /><br /> &mdash;Mark Twain</p>
					</div>
				</div>

				

			</div>
			
		</footer>
		
		
		<!-- ==============================================
		SCRIPTS
		=============================================== -->	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{site.baseurl}}/js/libs/jquery-1.9.1.min.js">\x3C/script>')</script>
		
		<script src="{{site.baseurl}}/js/libs/bootstrap.min.js"></script>
		<script src='{{site.baseurl}}/js/jquery.easing.1.3.min.js'></script>
		<script src='{{site.baseurl}}/js/jquery.scrollto.js'></script>
		<script src='{{site.baseurl}}/js/jquery.fitvids.js'></script>
		<script src='{{site.baseurl}}/js/jquery.fittext.js'></script>
		<script src="{{site.baseurl}}/js/waypoints.min.js"></script>
		<script src="{{site.baseurl}}/js/jquery.countTo.js"></script>
		<script src="{{site.baseurl}}/js/jquery.easypiechart.js"></script>
		<script src="{{site.baseurl}}/js/jquery.backstretch.min.js"></script>
		<script src="{{site.baseurl}}/js/qubico.js"></script>
